[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = ">=1.11,<2.2"
django-haystack = {editable = true, ref = "master", git = "https://github.com/django-haystack/django-haystack.git"}
djangorestframework = ">=3.7.0"
python-dateutil = "*"

[dev-packages]
coverage = "*"
nose = "*"
sphinx = "*"
sphinx-rtd-theme = "*"
"urllib3" = "*"
geopy = "*"
tox = "*"
wheel = "*"
elasticsearch = "<6.0.0,>=5.0.0"

[requires]
python_version = "3.7"
