[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = ">=1.11,<2.3"
django-haystack = ">=2.8,<2.9"
djangorestframework = ">=3.7.0,<3.10"
python-dateutil = "*"

[dev-packages]
coverage = "*"
nose = "*"
sphinx = "*"
sphinx-rtd-theme = "*"
"urllib3" = "*"
geopy = "*"
tox = "*"
wheel = "*"
elasticsearch = "<3.0.0,>=2.0.0"

[requires]
python_version = "3.7"
